/* Global */
:root {
    --theme-color: rgba(255,83,0,255);
    --color-white: rgba(255,255,255,255);
    --links-color: black;
    --text-color: rgba(217,217,217,255);
    --heading-color: black;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--links-color);
}

.solid-button {
    background-color: var(--theme-color);
    color: var(--color-white);
    padding: 10px 20px;
    cursor: pointer;
}  

.skeleton-button {
    background-color: var(--color-white);
    color: var(--theme-color);
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--theme-color);
}

/* Structural */

main {
    width: 70%;
    margin: 0 auto;
}

/* Navigation */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    width: 70%;
}

nav ul {
    width: 100%;
}

.nav-links ul {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links ul li:first-child a {
    color: var(--theme-color);
    padding-bottom: 3px;
    border-bottom: 2px solid var(--theme-color);
  }

/* Latest Blogs */

.latest-blogs{
    padding: 5%;
    box-shadow: 0 0 0 1px red;
    margin-top: 50px;
}
.latest-blogs-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-blogs-head-headline{
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: 600;
}

.latest-blogs-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.latest-blogs-middle-children{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.latest-blogs-middle-left {
    display: flex;
    flex: 1;
}

.latest-blogs-middle-center {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
    border-right: 2px solid black;
    padding-right: 2px;
    display: flex;
    /* margin-right: 2px; */
}

.left{
    align-self: flex-end;
}
.latest-blogs-middle-right {
    display: flex;
    flex-direction: column;
    background-color: black;
    flex: 1;
}