/* Global */
:root {
  --theme-color: rgba(255, 83, 0, 255);
  --color-white: rgba(255, 255, 255, 255);
  --links-color: black;
  --text-color: #808080;
  --heading-color: black;
  --header-color: rgba(236,236,236,255);
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--links-color);
}

.solid-button {
  background-color: var(--theme-color);
  color: var(--color-white);
  padding: 10px 20px;
  cursor: pointer;
}

.skeleton-button {
  background-color: var(--color-white);
  color: var(--theme-color);
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--theme-color);
}

/* Structural */
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
main {
  width: 70%;
  margin: 0 auto;
  margin-top: -8em;
  max-width: 1200px !important;
}
header {
  background-color: var(--header-color);
  padding: 6em 0;
}

/* Utility Classes */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-space-between {
  justify-content: space-between;
}

.theme-text {
  color: var(--theme-color);
}

.s-text{
  font-size: 0.8em;
}

.mr-1 {
  margin-right: 1em;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-links {
  width: 70%;
}

nav ul {
  width: 100%;
}

.nav-links ul {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links ul li:first-child a {
  color: var(--theme-color);
  padding-bottom: 3px;
  border-bottom: 2px solid var(--theme-color);
}

/* Latest Blogs */

.latest-blogs {
  padding: 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  margin-top: 50px;
  background-color: var(--color-white);
}
.latest-blogs-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-blogs-head-headline {
  color: var(--heading-color);
  font-size: 2rem;
  font-weight: 600;
}

.latest-blogs-body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.latest-blogs-body-container-section-1 {
  flex: 1;
}
.blog-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 20px;
}

.blog-image {
  width: 100%;
}
.latest-blogs-body-container-section-2 {
  flex: 2;
}

.blog-button {
  margin-top: 15px;
  float: right;
  margin-right: 20px;
}

.latest-blogs-body-container-section-3 {
  flex: 1;
  padding-left: 2px;
}
.latest-blogs-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

/* Blog Posts */

.blog-post-header-wrapper {
  margin: 2em 0;
}
.blog-post-header {
  color: var(--heading-color);
  text-align: center;
}

.BP-post-wrapper {
  margin: 0 0.5em;
  padding: 0.5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

.slider {
  margin: 2em 0;
}

.arrows {
  margin-left: 2em;
  cursor: pointer;
}

/* Footer */

.footer-main {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 20px;
}
.footer-headline {
  color: var(--heading-color);
}
.footer-main-section-1{
  flex: 2;
}
.section-1-limiter {
  width: 70%;
} 

.socials img{
  margin-right: 10px;
}

.footer-main-section-2{
  flex: 1;
}

.footer-main-section-3{
  flex: 1;
}

.footer-main-section-4{
  flex: 1;
}

.pages-links {
  display: flex;
  flex-direction: column;
}

.pages-links a {
  margin-bottom: 10px;
  color: var(--text-color);
}

.footer-partner{
  margin-top: 20px;
}
.footer-partner img {
  margin-bottom: 10px;
  height: fit-content;
}

.footer-copyrights {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}